@using Microsoft.Owin.Security

@*<div class="row">
    <div class="col-sm-4">
        <hr />
    </div>
    <div class="col-sm-1">
        OR
    </div>
    <div class="col-sm-4">
        <hr />
    </div>
</div>*@

<div style="height: 1px; background-color: #cccccc; text-align: center; margin-bottom: 20px;">
    <span style="background-color: white; position: relative; top: -0.76em;">
        - OR -
    </span>
</div>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    string action = "ExternalLogin";
    string returnUrl = "http://9res.org/Account/ExternalLoginCallback";
    using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <p>

                <div id="socialLoginList">

                    <button type="submit" class="btn btn-block btn-social btn-google-plus" id="GooglePlus" name="provider" value="GooglePlus" title="Log in using your GooglePlus account"><i class="fa fa-google-plus"></i> Sign in with Google </button>
                    <button type="submit" class="btn btn-block btn-social btn-facebook" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
                    <button type="submit" class="btn btn-block btn-social btn-twitter" id="Twitter" name="provider" value="Twitter" title="Log in using your Twitter account"><i class="fa fa-twitter"></i> Sign in with Twitter</button>

                </div>
            </p>

        </div>
    }
}
