
<div class="row container" style="background-image: url('/content/icons/certs.jpg'); background-repeat: no-repeat; width: 900px; background-position: 500px 60px; ">
    <div class="row" style="text-align: center; font-weight: bold; margin-bottom: 25px; width: 900px">
        <!--<div class="col-sm-1 col-sm-offset-0" style="text-align: left;">
            <span style="font-family: 'Bauhaus 93'; color: #4466AA; font-size: 30px; margin-right: -7px;">9</span>
            <span style="font-family: 'Bauhaus 93'; color: #555555; font-size: 15px; margin-right: 5px; position: relative; top: -.42em;">res</span>
        </div>-->
        <div class="col-sm-8 text-right" sstyle="padding: 0px 0px 0px 0px;">
            <h4 style="font-weight: bold"> {{ Title }} </h4>
        </div>
        <!--<div class="col-sm-1 col-sm-offset-0" style=" text-align: right;">
            <a ng-click="cancelCertificate()"><i class="fa fa-times" style="color: black; text-align: right;"></i></a>
        </div>-->
    </div>



    <div class="row" style="min-height: 200px;">
        <div class="col-sm-9 space5">
            <div class="row">
                <div class="col-sm-2 schoolform">
                    Certification Type
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="Certification Type" ng-model="certificate.type">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 schoolform">
                    Certification Provider
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="Certification Provider" ng-model="certificate.Provider" sstyle="width: 14ch">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 schoolform">
                    <label> <input type="checkbox" ng-model="certificate.completed"> Completed? </label>
                </div>
            </div>

            <div class="row" ng-show="certificate.completed">
                <div class="col-sm-2 schoolform"> Completion <br> Date </div>
                <div class="col-sm-5">
                    <div class="col-sm-4" style="align-content: flex-start; text-align: left;">
                        <monthdropdown passedmodel="certificate.compMonth"></monthdropdown>
                    </div>
                    <div class="col-sm-5">
                        <yeardropdown passedmodel="certificate.compYear"></yeardropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 20px; background-color: #555555; width: 900px; padding-top: 15px; padding-bottom:15px;">
        <div class="col-sm-1 col-sm-offset-2">
            <a style="" class="btn btn-primary" ng-disabled="!(certificate.type.length > 0)" ng-click="saveCertificate()">
                <span>Confirm <i class="glyphicon glyphicon-thumbs-up"></i> </span>
            </a>
        </div>
        <div class="col-sm-2 col-sm-offset-4">
            <a style="" class="btn btn-danger" ng-click="cancelCertificate()">
                <span> <i class="glyphicon glyphicon-thumbs-down"></i> Cancel</span>
            </a>
        </div>
    </div>

</div>
