
<div class="container" style="background-image: url('/content/icons/certs.jpg'); background-repeat: no-repeat; background-position: 800px 20px; ">

    <div class="row" style="min-height: 15px; text-align: left; padding-left: 35px; margin: 10px 0px 30px; color: #000">
        <h3> <b>{{ Title }}</b></h3>
    </div>



    <div class="row" style="min-height: 260px; padding-left: 100px;">
        <div class="col-sm-9 space5">
            <div class="row">
                <div class="col-sm-2 schoolform">
                    <h5 style="font-weight: bold">Certification Type</h5>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="Certification Type" ng-model="certificate.type">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 schoolform">
                    <h5 style="font-weight: bold">Certification Provider</h5>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="Certification Provider" ng-model="certificate.Provider" sstyle="width: 14ch">
                </div>
            </div>


            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-2 schoolform">
                    <label> <input type="checkbox" ng-model="certificate.completed"> Completed? </label>
                </div>
                <div class="col-sm-5" ng-show="certificate.completed">
                    <div class="col-sm-4" style="align-content: flex-start; text-align: left;">
                        <monthdropdown passedmodel="certificate.compMonth"></monthdropdown>
                    </div>
                    <div class="col-sm-5">
                        <yeardropdown passedmodel="certificate.compYear"></yeardropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row form-submit-bar" >
        <div class="col-sm-1 col-sm-offset-2">
            <a style="" class="btn btn-primary" ng-disabled="!(certificate.type.length > 0)" ng-click="saveCertificate()">
                <span>Confirm <i class="glyphicon glyphicon-thumbs-up"></i> </span>
            </a>
        </div>
        <div class="col-sm-2 col-sm-offset-4">
            <a style="" class="btn btn-danger" ng-click="cancelCertificate()">
                <span> <i class="glyphicon glyphicon-thumbs-down"></i> Cancel</span>
            </a>
        </div>
    </div>

</div>
