<div class="row container" style="background-image: url('/content/icons/DiplomaBG.jpg'); background-repeat: no-repeat; width: 900px; background-position: 500px 60px; ">
    <div class="row" style="text-align: center; font-weight: bold; margin-bottom: 25px;">
        <!--<div class="col-sm-1 col-sm-offset-0" style="text-align: left;">
            <span style="font-family: 'Bauhaus 93'; color: #4466AA; font-size: 30px; margin-right: -7px;">9</span>
            <span style="font-family: 'Bauhaus 93'; color: #555555; font-size: 15px; margin-right: 5px; position: relative; top: -.42em;">res</span>
        </div>-->
        <div class="col-sm-10">
            <h4 style="font-weight: bold"> {{ Title }} </h4>
        </div>
        <!--<div class="col-sm-1 col-sm-offset-0" style=" text-align: right;">
            <a ng-click="cancelCollege()"><i class="fa fa-times" style="color: black; text-align: right;"></i></a>
        </div>-->
    </div>



    <div class="row" style="min-height: 260px;">
        <div class="col-sm-9 space5">
            <div class="row">
                <div class="col-sm-2 schoolform">
                    School Name
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="School Name" ng-model="college.name">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 schoolform">
                    Location
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="City" ng-model="college.city" style="width: 200px; display: inline">
                    , <statedropdown passedmodel="college.state"></statedropdown>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 schoolform">
                    Degree Program
                </div>
                <div class="col-sm-2">
                    <input class="form-control" type="text" placeholder="Degree Program" ng-model="college.degreeProgram" style="width: 40ch">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 schoolform">
                    Degree Type
                </div>
                <div class="col-sm-2">
                    <degree-drop-down passed-model="college.degreeType"></degree-drop-down>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 schoolform">
                    <label> <input type="checkbox" ng-model="college.graduated"> Graduated? </label>
                </div>
            </div>

            <div class="row" ng-show="college.graduated">
                <div class="col-sm-2 schoolform"> Graduation <br> Date </div>
                <div class="col-sm-5">
                    <div class="col-sm-4" style="align-content: flex-start; text-align: left;">
                        <monthdropdown passedmodel="college.gradMonth"></monthdropdown>
                    </div>
                    <div class="col-sm-5">
                        <yeardropdown passedmodel="college.gradYear"></yeardropdown>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row" style="margin-top: 20px; background-color: #555555; width: 900px; padding-top: 15px; padding-bottom:15px;">
        <div class="col-sm-1 col-sm-offset-2">
            <a style="" class="btn btn-primary" ng-disabled="!isNamePopulated()" ng-click="saveCollege(job)">
                <span>Confirm <i class="glyphicon glyphicon-thumbs-up"></i> </span>
            </a>
        </div>
        <div class="col-sm-2 col-sm-offset-4">
            <a style="" class="btn btn-danger" ng-click="cancelCollege()">
                <span> <i class="glyphicon glyphicon-thumbs-down"></i> Cancel</span>
            </a>
        </div>
    </div>

</div>
