
<div class="row container" style="background-image: url('/Content/icons/gradhat_transparent.png'); min-height: 300px; background-repeat: no-repeat; not-width: 900px; background-position: 900px 20px;">
    <div class="row" style="min-height: 15px; text-align: left; padding-left: 35px; margin: 10px 0px 30px; color: #000">
        <h3> <b>{{ Title }}</b></h3>
    </div>


    <div class="row" style="min-height: 180px; padding-left: 100px;">
        <div class="col-sm-11 space5">
            <div class="row">
                <div class="col-sm-2 schoolform">
                   <h5 style="font-weight: bold">School Name</h5> 
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="highSchool.name">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 schoolform">
                    <h5 style="font-weight: bold">Location</h5>
                </div>

                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="City" ng-model="highSchool.city" style="width: 200px; display: inline;">
                    , <statedropdown passedmodel="highSchool.state"></statedropdown>
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-2 schoolform" style="vertical-align: bottom">

                    <label>
                        <input type="checkbox" ng-model="highSchool.graduated"> <span style="font-weight: bold">Graduated</span>
                    </label>
                </div>
                <div class="col-sm-5 grad-date" ng-show="highSchool.graduated">
                    <div class="col-sm-4" style="align-content: flex-start; text-align: left;">
                        <monthdropdown passedmodel="highSchool.gradMonth"></monthdropdown>
                    </div>
                    <div class="col-sm-5">
                        <yeardropdown passedmodel="highSchool.gradYear"></yeardropdown>
                    </div>
                </div>
            </div>


            <!--<div style="float: left; vertical-align: top; margin-left: 105px;">

                <img src="http://sweetclipart.com/multisite/sweetclipart/files/imagecache/middle/graduation_cap_and_diploma.png"
                     height="150px">-->
        </div>


    </div>

    <div class="row form-submit-bar">
        <div class="col-sm-1 col-sm-offset-3">
            <a style="" class="btn btn-primary text-uppercase btn-md" ng-disabled="!isNamePopulated()" ng-click="saveHighSchool(highSchool)">
                <span> Confirm <i class="glyphicon glyphicon-thumbs-up"></i> </span>
            </a>
        </div>
        <div class="col-sm-2 col-sm-offset-3">
            <a style="" class="btn btn-danger text-uppercase btn-md" ng-click="cancelHighSchool(highSchool)">
                <span> <i class="glyphicon glyphicon-thumbs-down"></i> Cancel</span>
            </a>
        </div>
    </div>

</div>
