<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr"  id="ng-app" ng-app="CareerModule">
    <head>


        <title>9Res - Career</title>
        <!DOCTYPE HTML>



        <!--Load Style Sheets-->

        <link rel="stylesheet" type="text/css" href="bootstrap-3.0.3/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="bootstrap-3.0.3/css/bootstrap-theme.css" />
        <link rel="stylesheet" type="text/css" href="site/9resModal.css" />
        <link rel="icon" href="/images/9res.bmp"/>


        <link rel="stylesheet" type="text/css" href="Styles/9res-nie.css" />
        <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="9res-ie.css" />
        <![endif]-->



        <!-- Load JavaScript Libs -->

        <script type="application/javascript" src="JSLibs/angular.min.js"></script>
        <script type="application/javascript" src="JSLibs/jquery.js"></script>
        <script type="application/javascript" src="animatedcollapse.js"></script>

        <script type="application/javascript" src="bootstrap-3.0.3/js/bootstrap.js"></script>
        <script type="application/javascript" src="JSLibs/angular-strap.js"></script>
        <script type="application/javascript" src="JSLibs/ui-bootstrap-tpls-0.7.0.js"></script>

        <script type="text/javascript" src="JSFiles/career.JS"></script>

        <script type="application/javascript" src="NGDirectives/commonDirectives.js"></script>
        <script type="application/javascript" src="NGDirectives/navBarApp.js"></script>
        <script type="application/javascript" src="NGControllers/jobModalControllers.js"></script>
        <script type="application/javascript" src="NGControllers/CareerController.JS"></script>





    </head>

    <body ng-controller="CareerController">

    <header9res activetab="1"></header9res>


    <div id="m" class="main">

        <div class="container">

            <div class="row">

            <!--<div >-->
                <!--<resume-builder-tabs-common settab="1" update-fn="saveLocalContact()"></resume-builder-tabs-common>-->
            <!--</div>-->

                <div id ="hdr" align="left">
                <table border=0 cellpadding=0 cellspacing=0 height=100% width=100%>
                    <tr height=42>
                        <td width=40 class="hdr_line"></td>
                        <td width=100 class="cr_title"></td>
                        <td width=600 class="hdr_line" align="right"></td>
                        <td width=96 class="hdr_info1" onclick="javascript:info_mouse_click(this)" onmouseover="javascript:info_mouse_over(this)" onmouseout="javascript:info_mouse_out(this)"></td>
                    </tr>
                    <tr cellpadding=0 cellheight=100%>
                        <td class="display" colspan=4 width=100%>
                            <table width=100%>
                                <tr>
                                    <td class="hdr_txt">In this section, discuss all the great things you've done.and neat projects you've worked on! <i class="icon-circle-arrow-up red-icon"></i>
                                        Be sure to focus on what you helped to achieve, rather than just a literal description of what you did:  If you get too specific, people will just tune
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
              </div>

              <div id="hdr2" align="left">
                  <table cellpadding=0 cellspacing=0 width=100%>
                      <tr>
                          <td class="hdr_txt">
                              ...In case you hadn't noticed, this site is cool as shit.
                          </td>
                      </tr>
                  </table>
              </div>

              <div id ="ppane_car" align="left">
                  <table cellpadding=0 cellspacing=0 border=0 width=100%>
                      <tr><td id="career_row1"></td></tr>
                      <tr><td id="career_row2"></td></tr>
                      <tr><td id="career_row3"></td></tr>
                      <tr><td id="career_row4"></td></tr>
                      <tr class="tlr"><td id="job_tl" class="tl" width=100%></td></tr>
                      <tr class='tlr'><td width=100% class="tl" id="year_timeline" border=0></td></tr>
                  </table>
              </div>

                <div id="popupContact"> </div>
                <div id="backgroundPopup"></div>


                <div id ="ppane_w" align="PREV">
                    <table cellpadding=0 cellspacing=0 class="util" border=0 width=866>
                       <tr>
                           <td class="ppn_title" width=529>PREVIEW PANE</td>
                           <td class="ppn_title" width=10 align=left>
                               <input type="checkbox" id="chk_job_nums" onclick="javascript:display_jobs(' ');" value="show" type="text" />
                           </td>
                            <td class="cr_ppn_title1" width=80>Display Job #s</td>
                            <td class="cr_ppn_title2" width=79>Jobs to Show:</td>
                            <td class="ppn_title" width=19 id="jobs_to_show">12</td>
                            <td class="ppn_up_off"  onmouseover="this.className='ppn_up_on'" onmouseout="this.className='ppn_up_off'" onclick="javascript:display_jobs('+');" width=19></td>
                            <td class="ppn_down_off"  onmouseover="this.className='ppn_down_on'" onmouseout="this.className='ppn_down_off'" onclick="javascript:display_jobs('-');" width=19></td>
                            <td class="cr_ppn_title2" width=20>&nbsp;</td>
                        </tr>
                    </table>

                    <table cellpadding=0 cellspacing=0 border=0 width="100%">
                        <tr>
                            <td>

                            </td>
                            <td class="cr_txt4">
                                <a class="addjob" ng-click="openAddJob()">Add </a> or click on an existing job edit it.</td>
                            <td>

                            </td>
                        </tr>
                    </table>

                </div>


                <div id ="util_cr" class="res_title" style="width: 900px;" toggleclass="res_title2"  ng-repeat="job in jobs">
                    <table border="0" cellpadding="0" cellspacing="0"  swidth="100%"  ng-click="openEditJob(job)">
                        <tbody>
                        <tr class="hdr" ng-click="open(job)">
                            <td width="10" class="res_title">&nbsp;</td>
                            <td class="res_title" align="left"> {{ job.firmLong }} </td>
                            <td class="res_title" align="left"> {{ job.titleLong }} </td>
                            <td class="res_title" align="right"> {{ job.city }}, {{ job.state }} </td>
                            <td class="res_title" align="right"> {{ job.startMonth }}/{{ job.startYear }}  -  {{ job.endMonth }}/{{ job.endYear }} </td>
                        </tr>

                        <tr class="dtl">
                            <td width="10">&nbsp;</td>
                            <td colspan="4" class="res_body">
                                <ul>
                                    <li  sstyle="max-width: 500px" ng-repeat="detail in job.details | orderBy:'order'"> {{ detail.description }} </li>
                                </ul>
                            </td>
                        </tr>



                        </tbody>
                    </table>

                </div>



                <div style="margin-top: 20px;">
                    <div style="float: left; width: 500px; text-align: center; vertical-align: top;">
                        <a style="background-color: #0066aa" class="btn"  ng-click="saveLocalContact()" href="contact_info.htm">
                            <span class="white-icon" toggleclass="red-icon"> <i class="glyphicon glyphicon-arrow-left"> Contact Info </i> </span> </a>
                    </div>

                    <div style="float: left; vertical-align: top;">
                        <a style="background-color: #0066aa" class="btn" ng-click="saveLocalContact()" href="education.htm">
                            <span class="white-icon" toggleclass="red-icon"> Education <i class="glyphicon glyphicon-arrow-right"></i> </span> </a>
                    </div>
                </div>




                <div id="mypopup"></div>
        </div>

        </div>

    </div>


    </body>


</html>
