<div id="popupJobDetails" class="modal-dialog modal-wide"  style="table-layout:fixed; overflow: hidden; min-height: 410px;">
    <div >
        <!--<a id="popupContactClose" ng-click="cancel()">close popup</a>-->
        <table border="0" cellpadding="0" cellspacing="0" >
            <tbody>
            <tr style="overflow: hidden;">
                <td class="cr_hdr_title0"  style="overflow: hidden; white-space: nowrap"> {{ modalTitle }} </td>
                <td class="cr_hdr_title1">Hold the mouse over any object for details.
                </td>
                <td id="cr_del" ng-click="cancel()"  class="cr_hdr_del_off" title="Delete this job, exit to the Career page." onmouseover="javascript:set_dtl_hdr(1);" onmouseout="javascript:set_dtl_hdr(0);">
                </td>
                <td id="cr_mid1" class="cr_hdr_mid_0" style="overflow: hidden;"></td>

                <td id="cr_can" style="overflow: hidden;" ng-click="cancel()" class="cr_hdr_can_off" title="Don't save changes, exit to the Career page." onmouseover="javascript:set_dtl_hdr(2);" onmouseout="javascript:set_dtl_hdr(0);"></td>

                <td id="cr_mid2" style="overflow: hidden;" class="cr_hdr_mid_0"></td>

                <td id="cr_sav" ng-click="saveJob()"  class="cr_hdr_sav_off" title="Save changes, exit to the Career page	." onmouseover="javascript:set_dtl_hdr(3);"
                    onmouseout="javascript:set_dtl_hdr(0);" style="overflow:hidden;white-space:nowrap;"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>

        <table border="0" cellpadding="0" cellspacing="0" width="800px">
            <tbody>
                <tr>
                    <td class="util_txt2" width="10">&nbsp;</td>
                    <td colspan="2">
                        <table width="400px">
                            <tbody>
                            <tr>
                                <td class="cr_pop_txt7" >Position</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td colspan="2">

                        <table width="150px">
                            <tbody>
                            <tr>
                                <td class="cr_pop_txt7">Location</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>


                    <td colspan="2">

                        <table fwidth="400px">
                            <tbody>
                            <tr>
                                <td class="cr_pop_txt7">Dates</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td colspan="2">


                </tr>
                <tr>
                    <td class="util_txt2" width="10">&nbsp;</td>
                    <td class="cr_pop_txt5">Firm Name</td>
                    <td class="cr_pop_txt5">Job Title</td>
                    <td class="cr_pop_txt5">City</td>
                    <td class="cr_pop_txt5">State</td>
                    <td class="cr_pop_txt5">Start Date</td>
                </tr>

                <tr  >
                    <td class="util_txt2" width="10">&nbsp;</td>
                    <td>
                        <input class="input_inactive_ob" highligh="input_active_ob" id="txt_Firm_Long" title="What was the name of the place where you worked?&lt;br&gt;Ex: Acme Corporation" style="width: 150px" ng-model="job.firmLong">
                    </td>

                    <td>
                        <input  name="txt_Title_Long" title="What was your official job title?  Ex: Senior Business Analyst"  style="width: 150px" ng-model="job.titleLong">
                    </td>

                    <td>
                        <input  name="txt_Location" title="Where was your job located?  Ex: Boston, MA" style="width: 100px"  ng-model="job.city">
                    </td>

                    <td>
                        <!--<input class="input_inactive_ob" name="txt_Start" title="When did you start this job (month/date)?  Ex: 01/12" style="width: 100px" ng-model="job.state">-->
                        <statedropdown class="input_active_ob" passedmodel="job.state"></statedropdown>
                    </td>

                    <td>
                        <!--<input class="input_inactive_ob" name="txt_Start" title="When did you start this job (month/date)?  Ex: 01/12" style="width: 50px" ng-model="job.startDate">-->
                        <monthdropdown class="input_active_ob" passedmodel="job.startMonth"></monthdropdown>
                        <yeardropdown class="input_active_ob" passedmodel="job.startYear"></yeardropdown>
                    </td>

                    <td>
                        <!--<input class="input_inactive_ob" name="txt_End" title="When did you leave this job? (Blank if you're still there!)" style="width: 50px" ng-model="job.endDate">-->


                    </td>

                </tr>


                <tr>
                    <td></td>
                    <td class="cr_pop_txt5">Firm</td>
                    <td class="cr_pop_txt5">Title</td>
                    <td></td><td></td>
                    <td class="cr_pop_txt5">End Date</td>

                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input class="input_inactive_ob" name="txt_Firm" highlightclass="input_active_ob"
                               title="How should the company appear on the timeline (keep it short)?  Ex: ACME Corp" style="width: 100px" ng-model="job.firmShort">
                    </td>

                    <td>
                        <input class="input_inactive_ob" highlightclass="input_active_ob" name="txt_Title"
                               title="How should your job appear on the timeline (keep it short)?  Ex: Sr. Analyst" style="width: 100px" ng-model="job.titleShort">
                    </td>
                    <td></td><td></td>
                    <td>
                        <monthdropdown  passedmodel="job.endMonth"></monthdropdown>
                        <yeardropdown  passedmodel="job.endYear"></yeardropdown>
                    </td>
                </tr>


                <tr>
                    <td colspan="8" class="cr_pop_txt5"><table border="0" width="400px">
                        <tbody>
                        <tr>
                            <td width="40"></td>

                            <td class="cr_pop_txt5" style="height: 60px; vertical-align: bottom;">Job Details:</td>

                        </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
            </table>

    </div>


<!--
    <div style="max-height: 250px; min-height: 140px; overflow: hidden; overflow-y: scroll;">
-->
    <div style="max-height: 200px; overflow: hidden; overflow-y: scroll; width: 100%; ">

        <table style="display: table; width: 800px; ">
            <tbody>
                <tr ng-repeat="detail in job.details | orderBy:'order'">
                    <td title="Move this job detail up." style="vertical-align: top;width: 22px; text-align: center;"
                        ng-click="switchDetailOrderUp(detail)">
                        <span class="glyphicon glyphicon-arrow-up small" toggleclass="glyphicon glyphicon-arrow-up red-icon small"></span>
                    </td>


                    <!--<td> <span style="color: black;"> {{ detail.order }} </span></td>-->

                    <td title="Move this job detail down." style="vertical-align: top; width: 22px;" ng-click="switchDetailOrderDown(detail)">
                        <span class="glyphicon glyphicon-arrow-down small" toggleclass="glyphicon glyphicon-arrow-down red-icon small"></span>
                    </td>

                    <td class="pop_details" style="width:900px;">
                        <textarea cols="250" class="input_inactive_ob" id="cr_dtl1" title="Describe what you did at this job." style="width:100%" ng-model="detail.description"></textarea>
                    </td>

                    <td title="discard detail  (carefull!)" ng-click="deleteJobDetail(job, detail)">
                        <!--<button type="submit" class="btn btn-primary"></button>-->
                        <span class="glyphicon glyphicon-trash small" toggleclass="glyphicon glyphicon-trash red-icon small"></span>
                    </td>


                <tr>
                    <td style="height: 10px"></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="addJobs" style="text-align: right; width: 200px;">
        <a class="btn btn-primary" ng-click="addJobDetail(job)">
            <i class="glyphicon glyphicon-plus"></i> Job Detail

        </a>
    </div>


</div>


<div class="modal-footer" style="height: 120px">
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td class="hdr_peek0">Other people have said...</td>
                <td class="hdr_peek1" title="Show what other people said!" onmouseover="this.className='hdr_peek2'" onmouseout="this.className='hdr_peek1'"></td>
            </tr>
        </tbody>
    </table>

    <table cellpadding="0" cellspacing="0" width="700px">
        <tbody>
            <tr height="64">
                <td class="cr_peek_spacer" style="width: 20px"> </td>

                <td title="Reading other people's descriptions might help you describe your own." class="cr_txt_peek">
                    Ambitious,
                    results-oriented software engineer seeks a full-time position at a
                    socially-responsible biotech or technology firm, where I can leverage my
                    web development and interpersonal skills...

                </td>

                <td class="cr_peek_spacer"> </td>

            </tr>
        </tbody>
    </table>
</div>
