<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-1" style="border-left: 0px solid #4466AA; padding: 0px;">
                <!--<hr style="color: blue; background-color: blue; border-color: blue; width: 100%;">-->
            </div>
            <div class="col-xs-5">
                <span style="font-family: 'Bauhaus 93'; color: #4466AA; font-size: 30px; margin-right: -7px; margin-left: 5px;">9</span>
                <span style="font-family: 'Bauhaus 93'; font-size: 16px; margin-right: 5px; margin-left: -0px;  position: relative; top: -.40em;">res</span>

                <span style="text-align: center; font-weight: 800; font-family: 'Arial'; color: #4466AA; font-size: 26px;">
                    Career History
                </span>
            </div>
            <div class="col-xs-6" style="border-right: 0px solid blue; padding: 0px;"> 
                <!--<hr style="color: blue; background-color: blue; border-color: blue;">--> 
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-0 col-sm-12 hdr_txt" sstyle="padding-left: 25px;">
            In this section, discuss all the great things you've done.and neat projects you've worked on! <i class="icon-circle-arrow-up red-icon"></i>
            Be sure to focus on what you helped to achieve, rather than just a literal description of what you did:  If you get too specific, people will just tune
        </div>

        <div class="col-sm-offset-1 col-sm-10 hdr_txt">
            ...In case you hadn't noticed, this site is cool as shit.

        </div>

    </div>
    <div class="row">
        <div id="ppane_car" align="left">
            <table cellpadding=0 cellspacing=0 border=0 style="width: 100%">
                <tr><td id="career_row1"></td></tr>
                <tr><td id="career_row2"></td></tr>
                <tr><td id="career_row3"></td></tr>
                <tr><td id="career_row4"></td></tr>
                <tr class="tlr"><td id="job_tl" class="tl" width=100%></td></tr>
                <tr class='tlr'><td width=100% class="tl" id="year_timeline" border=0></td></tr>
            </table>
        </div>

        <div id="popupContact"> </div>
        <div id="backgroundPopup"></div>
        
    </div>

    <div class="row">
        <div id="ppane_w" align="PREV">
            <table cellpadding=0 cellspacing=0 class="util" border=0 width='100%'>
                <tr>
                    <td class="ppn_title" width=529>PREVIEW PANE</td>
                    <td class="ppn_title" width=10 align=left>
                        <input type="checkbox" id="chk_job_nums" onclick="javascript:display_jobs(' ');" value="show" type="text" />
                    </td>
                    <td class="cr_ppn_title1" width=80>Display Job #s</td>
                    <td class="cr_ppn_title2" width=79>Jobs to Show:</td>
                    <td class="ppn_title" width=19 id="jobs_to_show">12</td>
                    <td class="ppn_up_off" onmouseover="this.className='ppn_up_on'" onmouseout="this.className='ppn_up_off'" onclick="javascript:display_jobs('+');" width=19></td>
                    <td class="ppn_down_off" onmouseover="this.className='ppn_down_on'" onmouseout="this.className='ppn_down_off'" onclick="javascript:display_jobs('-');" width=19></td>
                    <td class="cr_ppn_title2" width=20>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>

            
    <div class="row">
        <div class="col-sm-12">

            <table cellpadding=0 cellspacing=0 border=0 width="100%">
                <tr>
                    <td></td>
                    <td class="cr_txt4">
                        <a class="addjob" ng-click="AddJob()">Add </a> or click on an existing job edit it.
                    </td>
                    <td></td>
                </tr>
            </table>

        </div>

    </div>

    <div class="row">

        <div sstyle="width: 100%;" class="col-sm-12" ng-repeat="job in newJobs track by $index">

            <add-job job="job" jobs="jobs" newjobs="newJobs"></add-job>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-12" ng-repeat="job in jobs track by $index">

            <show-job job="job" jobs="jobs"></show-job>

        </div>

        <div id="mypopup"></div>
    </div>


    <!-- Wizard Nav Buttons -->

    <div class="row" style="margin-top: 25px;">
        <div class="col-xs-1"></div>

        <div class="col-xs-3">
            <a class="btn btn-primary" ng-click="" href="#">
                <span> <i class="glyphicon glyphicon-arrow-left"> Contact Info </i> </span>
            </a>

        </div>

        <div class="col-xs-3">
            <a class="btn btn-success" ng-click="SaveNewResume()">
                <span> Save Resume <i class="glyphicon glyphicon-"></i> </span>
            </a>

        </div>

        <div class="col-xs-3">
            <a class="btn btn-primary" ng-click="" href="#education">
                <span> Education <i class="glyphicon glyphicon-arrow-right"></i> </span>
            </a>

        </div>

    </div>

</div>
