<resume-builder-nav settab="3"></resume-builder-nav>
<main>
    <div class="row">


        <div class="col-xs-12">
            <!--<div class="col-xs-1" style="border-left: 0px solid #4466AA; padding: 0px;">
                <hr style="color: blue; background-color: blue; border-color: blue; width: 100%;">
            </div>-->
            <div class="col-xs-7">
                <span style="font-family: 'Bauhaus 93'; color: #4466AA; font-size: 38px; margin-right: -7px; margin-left: 5px;">9</span>
                <span style="font-family: 'Bauhaus 93'; font-size: 20px; margin-right: 5px; margin-left: -0px;">res</span>

                <span style="text-align: center; font-weight: 800; color: #888888; font-size: 26px; text-shadow: 1px 1px #000000;">
                    Education History
                </span>
                <span class="glyphicon glyphicon-chevron-down" title="Explain More" slide-down="#Instructions" ng-hide="ShowInstructions==true" ng-click="ShowInstructions=true"></span>
                <span class="glyphicon glyphicon-chevron-up" title="Hide Explanation" slide-up="#Instructions" ng-show="ShowInstructions==true" ng-click="ShowInstructions=false"></span>

            </div>

        </div>
    </div>

    <div class="row">

        <div id="Instructions" class="sample-show-hide slideable" style="clear:both;" dng-show="ShowInstructions==true">
            <div class="col-sm-offset-0 col-sm-12 hdr_txt">
                <p>
                    What part of your education history do you want to share?
                    High School Diploma? College Diploma? Graduate School? Add any information you want.
                    Feel free to skip anything you don't want.
                </p>

                <p>
                    ...In case you hadn't noticed, this site is cool as $@&!.
                </p>
            </div>



        </div>

    </div>

</main>

<!-- Add Data Buttons -->
<div class="row col-xs-12 text-right" style="margin-bottom: 20px;">
    <!--<a class="btn btn-hot text-capitalize btn-md" ng-click="startDelete()" ng-disabled="(highschoolEditList.length > 0)"> <i class=""></i> Delete </a>-->
    <a class="btn btn-fresh text-capitalize btn-md" ng-click="addHighSchool()" ng-disabled="(highschoolEditList.length > 0)"> <i class=""></i> Add High School </a>
    <a class="btn btn-fresh text-capitalize btn-md" ng-click="addCollege()" ng-disabled="(highschoolEditList.length > 0)"> <i class=" "></i> Add College </a>
    <a class="btn btn-fresh text-capitalize btn-md" ng-click="addCertificate()" ng-disabled="(highschoolEditList.length > 0)"> <i class=" "></i> Add Certification </a>

    <!--<div style="; height:300px; background-image:url('http://www.daymarksi.com/Portals/30865/images/Tech_certifcaitons_2a.jpg');">-->
</div>



<!-- Preview Panel -->
<div class="row pane-objective" sstyle="border: 1px solid; border-color: black; border-left-width: 0px; text-align: justify;">
    <div class="">

        <div class="row educationPresentation">
            <div ng-repeat="highSchool in education.highSchools | filter: {isActive: true}  track by $index">
                <span style="text-align: left; position: relative; left: -20px;" sng-if="(addNavShow == true)">
                    <i class="glyphicon glyphicon-trash microIcons" title="Delete HighSchool"
                       ng-click="deleteEducation(highSchool)"></i>
                </span>
                <span class="edit-active" style="padding: 2px 30px 2px" ng-click="editHighSchool(highSchool)">
                    <i class="fa fa-graduation-cap" sng-show="highSchool.graduated"></i>
                    <b> {{ highSchool.name }} </b>
                    {{ highSchool.city }} {{ highSchool.state }}
                    <span ng-show="highSchool.graduated">
                        <!--<img src="/Content/images/degree.bmp" height="20px">-->
                        {{ highSchool.gradMonth }} {{ highSchool.gradYear }}
                    </span>
                </span>
            </div>

        </div>





        <!-- College Data -->
        <!--<div style="display: inline-block; max-width: 50%; vertical-align: top; ">-->
        <div class="row educationPresentation">

            <div ng-repeat="college in education.colleges | filter: {isActive: true} track by $index">
                <span style="text-align: left; position: relative; left: -20px;" sng-if="(addNavShow == true)">
                    <i class="glyphicon glyphicon-trash microIcons" title="Delete College"
                       ng-click="deleteEducation(college)"></i>
                </span>
                <span class="edit-active" ng-click="editCollege(college)" style="padding: 2px 30px 2px" sng-if="(addNavShow == true)">
                    <i class="fa fa-graduation-cap" ng-show="college.graduated"></i>
                    <span> <b> {{ college.name }} </b> </span>
                    <span> ({{ college.city }} {{ college.state }})  </span>
                    <span style="font-weight: bold"> {{ college.degreeType }} {{ college.degreeProgram }}  </span>
                    <span ng-show="college.graduated">
                        ({{ college.gradMonth }}-{{ college.gradYear }})
                    </span>
                </span>
            </div>


        </div>



        <!-- Certificate Data -->

        <div class="row educationPresentation">

            <div ng-repeat="certificate in education.certificates | filter: {isActive: true} track by $index">
                <span style="text-align: left; position: relative; left: -20px;" sng-if="(addNavShow == true)">
                    <i class="glyphicon glyphicon-trash microIcons" title="Delete College"
                       ng-click="deleteEducation(certificate)"></i>
                </span>
                <span class="edit-active" style="padding: 2px 30px 2px" ng-click="editCertificate(certificate)">
                    <i class="fa fa-certificate"></i>

                    <span>
                        <!--<img src="/Content/images/icons/certification.bmp" height="20px">-->
                        <b> {{ certificate.type }} </b> ( {{ certificate.Provider }}
                        {{ certificate.compMonth }} {{ certificate.compYear }})
                    </span>
                </span>

            </div>


        </div>

    </div>

</div>






<div class="row">
    <div class="">
        <table cellpadding=0 cellspacing=0 class="util" width="100%">
            <tr>
                <td class="ppn_title" width=50%>PREVIEW PANE</td>
                <td class="ppn_title" width=50%>PREVIEW PANE</td>
            </tr>
        </table>
    </div>
</div>








<div class="row" style="margin-top: 10px; min-height: 250px;">

    <!--<div sng-if="(addNavShow == true)" style="vertical-align: top">
        <div style="vertical-align: middle; margin-top: 0px; margin-left: 460px;">
            <img src="/Content/images/schools.jpg" style="align-self: center center"
                 swidth="355" height="66">
        </div>


        <div style="vertical-align: middle; margin-top: 25px; margin-left: 40px;">
            <img src="https://www.bellevuecollege.edu/careerpath/images/certifications.png" style="align-self: center center"
                 swidth="355" height="45">
        </div>
    </div>-->

    <div sng-if="!(addNavShow == true)" style="">

        <!-- Highschool Forms -->
        <div id="highSchoolEntry"> 

            <div class="animate-repeat add-skill-set" ng-repeat="highSchool in EditList | filter: { add: true } | filter: { edType: 1} track by $index">
                <div>
                    <high-school-form passed-model="highSchool" reset-fn="cancelAddHighSchool(highSchool)" sng-if="educationType.add"
                                      save-fn="saveEducation()" closeform="closeEdit()">
                    </high-school-form>
                </div>
            </div>

            <div class="animate-repeat add-skill-set" ng-repeat="highSchool in EditList | filter: { edit: true } | filter: { edType: 1} track by $index">
                <div class="animate-repeat add-skill-set">
                    <high-school-form passed-model="highSchool" reset-fn="resetEducation()"
                                      save-fn="saveEducation()" closeform="closeEdit()">
                    </high-school-form>
                </div>
            </div>

        </div>

        <!-- College Forms -->
        <div id="collegeEntry">


            <div class="animate-repeat add-skill-set" ng-repeat="college in EditList | filter: { add: true } | filter: { edType: 2 } track by $index">
                <div>
                    <college-form passed-model="college" save-fn="saveEducation()"
                                  reset-fn="cancelAddCollege(college)" closeform="closeEdit()">
                    </college-form>
                </div>

            </div>

            <div class="animate-repeat add-skill-set" ng-repeat="college in EditList | filter: { edit: true } | filter: { edType: 2 } track by $index">
                <div>
                    <college-form passed-model="college" save-fn="saveEducation()"
                                  reset-fn="resetEducation()" closeform="closeEdit()">
                    </college-form>
                </div>
            </div>
        </div>

        <div id="certificateEntry">


            <div class="animate-repeat add-skill-set" ng-repeat="certificate in EditList | filter: { add: true } | filter: { edType: 3 } track by $index">
                <div>
                    <certificate-form-add passed-model="certificate" save-fn="saveEducation()"
                                          reset-fn="cancelAddCertificate(certificate)" closeform="closeEdit()"></certificate-form-add>
                </div>
            </div>

            <div class="animate-repeat add-skill-set" ng-repeat="certificate in EditList | filter: { edit: true } | filter: { edType: 3 } track by $index">
                <div>
                    <certificate-form-add passed-model="certificate" save-fn="saveEducation()"
                                          reset-fn="resetEducation()" closeform="closeEdit()"></certificate-form-add>
                </div>
            </div>

        </div>


    </div>
</div>


<!-- Wizard Nav Buttons -->

<div class="row" style="margin-top: 25px;">
    <div class="col-xs-1"></div>

    <div class="col-xs-3">
        <a class="btn btn-bitbucket" ng-click="" href="#careers">
            <span> <i class="glyphicon glyphicon-arrow-left"></i> Career Experience </span>
        </a>

    </div>

    <div class="col-xs-4">
        <a ng-if="IsLoggedIn()" class="btn btn-success" ng-click="SaveNewResume()">
            <span aclass="white-icon"> Save Resume<i class="glyphicon glyphicon-"></i> </span>
        </a>
        <a class="btn btn-default" href="#/resview">
            <span aclass="white-icon"> Preview Resume </span>
        </a>

    </div>

    <div class="col-xs-3">
        <a class="btn btn-bitbucket" ng-click="" href="#expertise">
            <span> Expertise <i class="glyphicon glyphicon-arrow-right"></i> </span>
        </a>

    </div>

</div>