<div class="row">


    <div class="col-xs-12">
        <div class="col-xs-1" style="border-left: 0px solid #4466AA; padding: 0px;">
            <!--<hr style="color: blue; background-color: blue; border-color: blue; width: 100%;">-->
        </div>
        <div class="col-xs-5">
            <span style="font-family: 'Bauhaus 93'; color: #4466AA; font-size: 30px; margin-right: -7px; margin-left: 5px;">9</span>
            <span style="font-family: 'Bauhaus 93'; font-size: 16px; margin-right: 5px; margin-left: -0px;  position: relative; top: -.40em;">res</span>

            <span style="text-align: center; font-weight: 800; font-family: 'Arial'; color: #4466AA; font-size: 26px;">
                Education History
            </span>
        </div>
        <div class="col-xs-6" style="border-left: 0px solid blue; padding: 0px;"> 
            <!--<hr style="color: blue; background-color: blue; border-color: blue;">--> 
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-offset-0 col-sm-12 hdr_txt" style="padding-left: 25px;">
        What part of your education history do you want to share?
        High School Diploma? College Diploma? Graduate School? Add any information you want.
        Feel free to skip anything you don't want.

    </div>

    <div class="col-sm-offset-1 col-sm-10 hdr_txt">
        ...In case you hadn't noticed, this site is cool as shit.

    </div>

</div>

<div id="ppane_ds" style="background-image: url('../icons/DiplmaBG.bmp');border: 1px solid; border-color: black; border-left-width: 0px;
                text-align: justify;" class="row">

    <div class="col-md-4">
        <div style="" class="educationPresentation" ng-repeat="highSchool in education.highSchools track by $index">
            <div style="text-align: right;" ng-if="(addNavShow == true)">
                <i class="glyphicon glyphicon-edit microIcons" title="Edit HighSchool"
                   ng-click="editHighSchool(highSchool)"></i>
                <i class="glyphicon glyphicon-trash microIcons" title="Delete HighSchool"
                   ng-click="deleteHighSchool(highSchool)"></i>
            </div>


            <div> <b> {{ highSchool.name }} </b> </div>
            <div> {{ highSchool.city }} {{ highSchool.state }}  </div>
            <div ng-show="highSchool.graduated">
                <img src="/Content/images/degree.bmp" height="20px">
                {{ highSchool.gradMonth }} {{ highSchool.gradYear }}
            </div>
        </div>

    </div>





    <!-- College Data -->
    <!--<div style="display: inline-block; max-width: 50%; vertical-align: top; ">-->
    <div class="col-md-4" >


        <div style="" class="educationPresentation"
             ng-repeat="college in education.colleges track by $index">

            <div style="text-align: right;" ng-if="(addNavShow == true)">
                <i class="glyphicon glyphicon-edit microIcons" title="Edit College"
                   ng-click="editCollege(college)"></i>
                <i class="glyphicon glyphicon-trash microIcons" title="Delete College"
                   ng-click="deleteCollege(college)"></i>
            </div>

            <div> <b> {{ college.name }} </b> </div>
            <div> {{ college.city }} {{ college.state }}  </div>
            <div> {{ college.degreeType }} {{ college.degreeProgram }}  </div>
            <div ng-show="college.graduated">
                <img src="/Content/images/degree.bmp" height="20px">
                {{ college.gradMonth }} {{ college.gradYear }}
            </div>
        </div>


    </div>



    <!-- Certificate Data -->

    <div class="col-md-4">

        <div style="display: block; " class="educationPresentation"
             ng-repeat="certificate in education.certificates track by $index">

            <div style="text-align: right;" ng-if="(addNavShow == true)">
                <i class="glyphicon glyphicon-edit microIcons" title="Edit Certificate"
                   ng-click="editCertificate(certificate)"></i>
                <i class="glyphicon glyphicon-trash microIcons" title="Delete Certificate"
                   ng-click="deleteCertificate(certificate)"></i>
            </div>

            <div>
                <img src="/Content/images/icons/certification.bmp" height="20px">
                <b> {{ certificate.type }} </b> ( {{ certificate.Provider }}
                {{ certificate.compMonth }} {{ certificate.compYear }})
            </div>
        </div>


    </div>

</div>






<div class="row" id="ppane_w" align="PREV">
    <table cellpadding=0 cellspacing=0 class="util" width=866>
        <tr>
            <td class="ppn_title" width=50%>PREVIEW PANE</td>
            <td class="ppn_title" width=50%>PREVIEW PANE</td>
        </tr>
    </table>
</div>








<div class="row" style="margin-top: 10px; min-height: 250px;">

    <div ng-if="(addNavShow == true)" style="vertical-align: top">
        <div satyle="float: left;">
            <a class="btn btn-success" ng-click="addHighSchool()"> <i class=""></i> Add High School </a>
            <a class="btn btn-success" ng-click="addCollege()"> <i class=""></i> Add College </a>
            <a class="btn btn-success" ng-click="addCertificate()"> <i class=""></i> Add Certification </a>

            <!--<div style="; height:300px; background-image:url('http://www.daymarksi.com/Portals/30865/images/Tech_certifcaitons_2a.jpg');">-->
        </div>


        <div style="vertical-align: middle; margin-top: 0px; margin-left: 460px;">
            <img src="/Content/images/schools.jpg" style="align-self: center center"
                 swidth="355" height="66">
            <!--width="100" height="100px">-->
        </div>


        <div style="vertical-align: middle; margin-top: 25px; margin-left: 40px;">
            <img src="https://www.bellevuecollege.edu/careerpath/images/certifications.png" style="align-self: center center"
                 swidth="355" height="45">
            <!--width="100" height="100px">-->
        </div>


    </div>




    <div ng-if="!(addNavShow == true)" style="">
        <div id="highSchoolEntry" sstyle="min-height: 250px; display: inline-block; vertical-align: top"
             sng-if="highSchoolEdit">

            <div ng-repeat="highSchool in education.highSchools">
                <div ng-if="highSchool.add">
                    <high-school-form passed-model="highSchool" reset-fn="resetEducation()"
                                      save-fn="SaveEducationLocalStorage()" closeform="showNavHideForms()">
                    </high-school-form>
                </div>

                <div ng-if="highSchool.edit">
                    <high-school-form passed-model="highSchool" reset-fn="resetEducation()"
                                      save-fn="SaveEducationLocalStorage()" closeform="showNavHideForms()">
                    </high-school-form>
                </div>

            </div>



        </div>

        <!-- College Form -->
        <div id="collegeEntry" sstyle="min-height: 250px; display: inline-block; vertical-align: top; margin-left: 15px;">


            <div ng-repeat="college in education.colleges">
                <div ng-if="college.add">
                    <college-form-add passed-model="college" save-fn="SaveEducationLocalStorage()"
                                      reset-fn="resetEducation()" closeform="showNavHideForms()"></college-form-add>
                </div>

                <div ng-if="college.edit">
                    <college-form-edit passed-model="college" save-fn="SaveEducationLocalStorage()"
                                       reset-fn="resetEducation()" closeform="showNavHideForms()"></college-form-edit>
                </div>

            </div>




            <div id="certificateEntry" sstyle="min-height: 250px; display: inline-block; vertical-align: top; margin-left: 15px;">


                <div ng-repeat="certificate in education.certificates">
                    <div ng-if="certificate.add">
                        <certificate-form-add passed-model="certificate" save-fn="SaveEducationLocalStorage()"
                                              reset-fn="resetEducation()" closeform="showNavHideForms()"></certificate-form-add>
                    </div>

                    <div ng-if="certificate.edit">
                        <certificate-form-edit passed-model="certificate" save-fn="SaveEducationLocalStorage()"
                                               reset-fn="resetEducation()" closeform="showNavHideForms()"></certificate-form-edit>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


<!-- Wizard Nav Buttons -->

<div class="row" style="margin-top: 25px;">
    <div class="col-xs-1"></div>

    <div class="col-xs-3">
        <a style="sbackground-color: #0066aa" class="btn btn-primary" href="#careers">
            <span> <i class="glyphicon glyphicon-arrow-left"></i> Career Experience </span>
        </a>

    </div>

    <div class="col-xs-3">
        <a style="" class="btn btn-success" ng-click="SaveNewResume()">
            <span> Save Resume <i class="glyphicon glyphicon-"></i> </span>
        </a>

    </div>

    <div class="col-xs-3">
        <a style="sbackground-color: #0066aa" class="btn btn-primary" href="#expertise">
            <span> Expertise <i class="glyphicon glyphicon-arrow-right"></i> </span>
        </a>

    </div>

</div>
