

<h1> Expertise Page!!!!! </h1>


<div class="row">
    <div class="col-xs-1"></div>

    <div class="col-xs-3">
        <a style="background-color: #0066aa" class="btn" ng-click="" href="#education">
            <span class="white-icon" toggleclass="red-icon"> <i class="glyphicon glyphicon-arrow-left"> Education </i> </span>
        </a>

    </div>

    <div class="col-xs-3">
        <a style="sbackground-color: #0066aa" class="btn btn-success" ng-click="SaveNewResume()">
            <span class="white-icon" toggleclass="red-icon"> Save Resume <i class="glyphicon glyphicon-"></i> </span>
        </a>

    </div>

    <div class="col-xs-3">
        <a style="background-color: #0066aa" class="btn" ng-click="" href="#objective">
            <span class="white-icon" toggleclass="red-icon"> Objective <i class="glyphicon glyphicon-arrow-right"></i> </span>
        </a>

    </div>

</div>