<resume-builder-nav settab="5"></resume-builder-nav>
<main>
    <div class="col-xs-12">
        <span style="font-family: 'Bauhaus 93'; color: #4466AA; font-size: 38px; margin-right: -7px; margin-left: 5px;">9</span>
        <span style="font-family: 'Bauhaus 93'; font-size: 20px; margin-right: 5px; margin-left: -0px;">res</span>

        <span style="text-align: center; font-weight: 800; color: #888888; font-size: 24px; text-shadow: 1px 1px #000000;">
            Career Objective
        </span>
        <span class="glyphicon glyphicon-chevron-down" title="Explain More" ng-hide="ShowInstructions==true" ng-click="ShowInstructions=true"></span>
        <span class="glyphicon glyphicon-chevron-up" title="Hide Explanation" ng-show="ShowInstructions==true" ng-click="ShowInstructions=false"></span>
    </div>
</main> 


<div class="row">

    <div class="animate-show" style="clear:both;" ng-show="ShowInstructions==true">
        <div class="col-sm-offset-0 col-sm-12 hdr_txt">
            Describe your goals, phylosophy, and/or skills you have and want to emphasize
            <br />
            ...In case you hadn't noticed, this site is cool as $@&!.
            <span class="glyphicon glyphicon-chevron-up small hov-red" title="Hide Explanation" ng-click="ShowInstructions=false"></span>
        </div>

    </div>

</div>

<div class="row col-xs-12 text-right" sng-show="newObjective==null">
    <a class="btn btn-success" ng-click="NewObjective()" ng-attr-slide-down="{{ '#addObjective' }}">Add Objective <i class="fa fa-plus"></i></a>
</div>
<div class="row" sng-attr-id="{{ 'editjob0' }}" sng-hide="newObjective==null">
    <div add-objective></div>
</div>

<div class="row">
    <br />
    <div class="row col-md-12 col-sm-offset-0 " ng-repeat="Objective in objectiveList track by $index" style=" margin-bottom: 25px;">
        <div class="row pane-objective edit-active" ng-click="ShowEditObjective(Objective)" ng-attr-slide-down="{{ '#editObjective' + $index }}">
            {{ Objective.description }}
        </div>
        <div class="row" id="ppane_w" align="PREV">
            <div sclass="col-sm-12">
                <table cellpadding=0 cellspacing=0 class="util" width="100%">
                    <tr>
                        <td class="ppn_title" width=50%>PREVIEW PANEL</td>
                        <td class="ppn_title" width=50%>PREVIEW PANEL</td>
                    </tr>
                </table>
            </div>
        </div>

        <div zng-show="Objective.edit">
            <div edit-objective objective="Objective" objective-number="$index"></div>
        </div>

        <br />
    </div>
</div>







<!-- Wizard Nav Buttons -->

<div class="row" style="margin-top: 25px;">
    <div class="col-xs-1"></div>

    <div class="col-xs-3">
        <a class="btn btn-bitbucket" ng-click="" href="#expertise">
            <span> <i class="glyphicon glyphicon-arrow-left"></i> Expertise</span>
        </a>

    </div>

    <div class="col-xs-4">
        <a ng-if="IsLoggedIn()" class="btn btn-success" ng-click="SaveNewResume()">
            <span aclass="white-icon"> Save Resume<i class="glyphicon glyphicon-"></i> </span>
        </a>
        <a class="btn btn-default" href="#/resview">
            <span aclass="white-icon"> Preview Resume </span>
        </a>

    </div>

    <!--<div class="col-xs-3">
        <a class="btn btn-bitbucket" ng-click="" href="#objective">
            <span> Objective <i class="glyphicon glyphicon-arrow-right"></i> </span>
        </a>

    </div>-->

</div>