<div class="col-sm-12 col-sm-offset-0 text-center slideable" ng-attr-id="{{ 'editObjective' + objectiveNumber }}" style="border: 1px #cccccc">
    <!--<div class="row text-center" style="min-height: 40px; background-color:lightgray; ">
        <span style="font-weight: bold; vertical-align: middle;">Add Objective</span>
    </div>-->
    <!--<div class="row pane-objective" style="border: 1px solid; border-color: black; border-left-width: 0px;
                text-align: justify;">
        {{ objective.description }}
    </div>-->



    <!--<div class="row" id="ppane_w" align="PREV">
        <div sclass="col-sm-12">
            <table cellpadding=0 cellspacing=0 class="util" width="100%">
                <tr>
                    <td class="ppn_title" width=50%>PREVIEW PANE</td>
                    <td class="ppn_title" width=50%>PREVIEW PANE</td>
                </tr>
            </table>
        </div>
    </div>-->

    <div class="row inputTitles space5" style="margin-top: 25px; min-height: 250px;">
        <div class="row ">
            <div class="col-sm-12 text-center">
                <center>
                    <textarea class="form-control textarea-large" rows="5" placeholder="Career Objective" ng-model="objective.description" sng-change="SaveObjective()" style="height: 130px; width: 95%"></textarea>
                </center>
            </div>
        </div>

        <div class="row form-submit-bar">
            <div class="col-sm-4 text-right">
                <a class="btn btn-primary" ng-click="SaveObjective(objective)" ng-attr-slide-up="{{ '#editObjective' + objectiveNumber }}">
                    Submit
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                </a>
            </div>
            <div class="col-sm-2 col-sm-offset-4 text-left">
                <a class="btn btn-danger" ng-click="CancelObjective()" ng-attr-slide-up="{{ '#editObjective' + objectiveNumber }}">
                    <i class="glyphicon glyphicon-thumbs-down"></i>
                    Cancel
                </a>
            </div>
        </div>

    </div>
</div>
