@{
    ViewBag.Title = "Resume Builder";
    ViewBag.ngApp = "ResumeBuilderModule";
}


@section scripts {

    @* ---------- Angular Files ----------------- *@

    @* App File *@
    <script src="~/Javascript/NGApps/ResumeBuilderApp.js"></script>

    <script src="~/Javascript/NGControllers/ContactInfoController.js"></script>
    <script src="~/Javascript/NGControllers/CareerController.JS"></script>
    <script src="~/Javascript/NGControllers/educationController.js"></script>
    <script src="~/Javascript/NGControllers/jobModalControllers.js"></script>

    <script src="~/Javascript/NGDirectives/commonDirectives.js"></script>
    <script src="~/Javascript/NGDirectives/navBarApp.js"></script>

    <script src="~/Javascript/NGServices/localStorageService.js"></script>

    @* ----------   Modal Libs   ------------ *@
    <script src="~/Scripts/JSPlugins/angular-strap.js"></script>
    <script src="~/Scripts/JSPlugins/ui-bootstrap-tpls-0.7.0.js"></script>
    <script src="~/Scripts/JSPlugins/bootstrap.js"></script>

    <script src="~/Scripts/mask.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>

    <script src="~/Scripts/animatedcollapse.js"></script>

    <script src="http://api.qrtag.net/js"></script>


    @* ---------- Brett JS ----------------- *@
    <script src="~/Javascript/BrettJS/ContactInfo.js"></script>
    <script src="~/Javascript/BrettJS/career.JS"></script>
}




@section styles {
    <link href="~/Content/9res-nie.css" rel="stylesheet" />
    <link href="~/Content/9resModal.css" rel="stylesheet" />
    <link href="~/Content/education.css" rel="stylesheet" />
}




<div class="row" style="height: 43px"></div>

<resume-builder-nav></resume-builder-nav>

<div ng-view></div>