@{
    ViewBag.Title = "Resume Builder";
    ViewBag.ngApp = "ResumeBuilderModule";
}


@section scripts {

    @* ---------- Angular Files ----------------- *@

    @* App File *@
    <script src="~/Javascript/NGApps/ResumeBuilderApp.js"></script>

    <script src="~/Javascript/NGControllers/ContactInfoController.js"></script>
    <script src="~/Javascript/NGControllers/CareerController.js"></script>
    <script src="~/Javascript/NGControllers/educationController.js"></script>
    <script src="~/Javascript/NGControllers/jobModalControllers.js"></script>
    <script src="~/Javascript/NGControllers/objectiveController.js"></script>
    <script src="~/Javascript/NGControllers/expertiseController.js"></script>

    <script src="~/Javascript/NGDirectives/CareerDirectives/showJobs.js"></script>
    <script src="~/Javascript/NGDirectives/commonDirectives.js"></script>
    <script src="~/Javascript/NGDirectives/navBarApp.js"></script>
    <script src="~/Javascript/NGControllers/ResViewController.js"></script>
    
    <script src="~/Javascript/NGDirectives/ExpertiseDirectives/skillSetDirectives.js"></script>
    <script src="~/Javascript/NGDirectives/Objective/Objective.js"></script>
    <script src="~/Javascript/NGServices/localStorageService.js"></script>

    @* ----------   Modal Libs   ------------ *@
    <script src="~/Scripts/JSPlugins/angular-strap.js"></script>
    <script src="~/Scripts/JSPlugins/ui-bootstrap-tpls-0.7.0.js"></script>
    <script src="~/Scripts/JSPlugins/bootstrap.js"></script>

    <script src="~/Scripts/mask.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>

    @*<script src="~/Scripts/animatedcollapse.js"></script*@>
    <script src="~/Scripts/angular-animate.js"></script>
    @*<script src="http://api.qrtag.net/js"></script>*@
    
    @* JSPDF *@
    <script src="~/Scripts/JSPlugins/jspdf.js"></script>
    @*<script src="~/Scripts/JSPlugins/jspdf.plugin.from_html.js"></script>
    <script src="~/Scripts/JSPlugins/jspdf.plugin.split_text_to_size.js"></script>
    <script src="~/Scripts/JSPlugins/jspdf.plugin.standard_fonts_metrics.js"></script>*@
    <script src="~/Scripts/JSPlugins/FileSaver.js"></script>
    @*<script src="~/Scripts/JSPlugins/pdfmake.min.js"></script>
    <script src="~/Scripts/JSPlugins/vfs_fonts.js"></script>*@

<script type="text/javascript">

    function savePageAsPDF() {
        var pURL = "http://savepageaspdf.pdfonline.com/pdfonline/pdfonline.asp?cURL=" + escape(document.location.href);
        window.open(pURL, "PDFOnline", "scrollbars=yes, resizable=yes,width=640, height=480,menubar,toolbar,location");
    }
</script>

    @* ---------- Brett JS ----------------- *@
    <script src="~/Javascript/BrettJS/ContactInfo.js"></script>
    <script src="~/Javascript/BrettJS/career.JS"></script>
}




@section styles {
    <link href="~/Content/bootstrap3dbuttons.css" rel="stylesheet" />
    <link href="~/Content/9res-nie.css" rel="stylesheet" />
    @*<link href="~/Content/3dnavs.css" rel="stylesheet" />*@
    <link href="~/Content/9resModal.css" rel="stylesheet" />
    <link href="~/Content/education.css" rel="stylesheet" />
}




<div class="row" style="height: 43px"></div>

<div class="row col-sm-12 text-right" style="margin-top:0px; ">
    <a href="#/resview" class="btn btn-default" style="margin:-2px; border-color: #4466AA; border-width: 1px; font-weight: 600; color: #444444">
        <span style="font-family: 'Bauhaus 93'; color: #4466AA; font-size: 19px; margin-right: -7px; margin-left: 5px;">9</span>
        <span style="font-family: 'Bauhaus 93'; font-size: 10px; margin-right: 5px; margin-left: -0px;">res</span>
        Preview Resume
    </a>
</div>

<div ng-class="{enter: 'view-enter', leave: 'view-leave'}" ng-view></div>