@{
    ViewBag.ngApp = "indexModule"; 
    ViewBag.Title = "Home Page";
}

@section scripts {

    <script type="text/javascript" src="~/Javascript/NGControllers/indexController.js"></script>
    <script type="application/javascript" src="~/Javascript/NGDirectives/commonDirectives.js"></script>
    <script type="application/javascript" src="~/Javascript/NGDirectives/navBarApp.js"></script>

}

<div class="jumbotron" style="background-color: #ffffff; border: 1px solid black">
    <h4>
        <span style="font-family: 'Bauhaus 93'; font-weight: 700; color: #4466AA; font-size: 42px; margin-right: -9px;">9</span> 
        <span style="font-family: 'Bauhaus 93'; font-weight: lighter; font-size: 22px; margin-right: 5px;">res</span>
        <span style="text-align: center; font-weight: 700; color: #888888; font-size: 26px; text-shadow: 1px 1px #000000;">Advantage</span>
        @*<span style="font-family: 'Bauhaus 93'; font-weight:100; color: #4466AA; font-size: 42px; margin-right: -9px;">9</span> <span style="font-family: 'Bauhaus 93'; font-weight: lighter; font-size: 22px; margin-right: 5px;">res</span>
        <b style="font-weight: 600;font-family: 'Bauhaus 93'; color: #4466AA; font-size: 24px;">Advantage</b><span style="font-family: 'Bauhaus 93'; font-size: 25px;"> </span>*@
    </h4>

    <div style="display: inline-block">
        <ul>
            <li>Responsive Design allows preview as you type</li>
            <li>Skip Any Section you want. Return to any section if and when you want.</li>
            <li>Resume aesthetic appearance and function are balanced</li>
            @*<li></li>
            <li></li>*@

        </ul>

    </div>

    <div style="display: inline-block">

    </div>

</div>

<div class="row" ng-app="indexModule">

    <div class="col-md-4">

        <span style="display: block; text-align: center; font-weight: bolder;">
             Advantages
            <img src="@Url.Content("~/content/images/9resAdvantages.png")" height="400px">
        </span>
    </div>


    <div class="col-md-4">

        <span style="display: block; text-align: center; font-weight: bolder;">
            Format
            <img src="@Url.Content("~/content/images/9resViewFormat.png")" height="400px">
        </span>


    </div>


    <div class="col-md-4" ng-controller="indexController">

        <span style="display: block; text-align: center; font-weight: bolder;">
            Let's Get Started with!
        </span>

        <img ng-src="{{ getStartedSrc }}" height="400px" ng-mouseenter="changeStartImg('@Url.Content("~/content/images/9resGetStarted_hover.png")')"
             ng-mouseleave="changeStartImg('@Url.Content("~/content/images/9resGetStarted.png")')" ng-click="startResume()">

    </div>

</div>