<div class="row container" style="margin-bottom: 15px; border: 1px hidden #bbbbbb ">
    <div>
        <span class="glyphicon glyphicon-trash small hov-red" ng-click="deleteJob(job)"></span>
    </div>
    <div ng-class="{ 'row JobsDisplay': true, 'jobediting': false }" sbuffer="300" ng-attr-slide-down="{{ '#editjob' + jobNumber }}" ng-click="EditJob(job)" 
         style="border: 1px solid; border-color: black; border-left-width: 0px; border-bottom-width: 0px; padding: 30px 0px 30px;">
        <div class=" row ">
            <div class=" col-xs-5">
                <div class="col-sm-6">
                    <place-holder filler="Company Name" bind="job.firmLong"></place-holder>
                </div>
                <div class="col-sm-6">
                    <place-holder filler="Your Position Title" bind="job.titleLong"></place-holder>
                </div>
            </div>
            <div class="col-xs-3">
                <place-holder filler="City" bind="job.city"></place-holder>, <place-holder filler="State" bind="job.state"></place-holder>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-5" style="text-align: right;">
                    <place-holder filler="MM" bind="job.startMonth"></place-holder>/<place-holder filler="YYYY" bind="job.startYear"></place-holder>
                </div>
                <div class="col-xs-1">
                    -
                </div>
                <div class="col-xs-5">
                    <place-holder filler="MM" bind="job.endMonth"></place-holder>/<place-holder filler="YYYY" bind="job.endYear"></place-holder>
                </div>
            </div>
        </div>
        <div class="row inputTitles">
            <ul>
                <li sstyle="max-width: 500px" ng-repeat="detail in job.details  | filter: {isActive: true} | orderBy:'order' track by $index">
                    <place-holder filler="Job Detail" bind="detail.description"></place-holder>
                </li>
            </ul>
        </div>

    </div>
    <div class="row container">
        <div class="row" id="ppane_w" align="PREV">
            <div sclass="col-sm-12">
                <table cellpadding=0 cellspacing=0 class="util" width="100%">
                    <tr>
                        <td class="ppn_title" width=50%>PREVIEW PANEL</td>
                        <td class="ppn_title" width=50%>PREVIEW PANEL</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <!-- Edit Job Form (Hidden unless job is in Edit Mode) -->
    <div class="row container slideable" style="margin-bottom: 35px; margin-top: 20px;" ng-attr-id="{{ 'editjob' + jobNumber}}" duration=".8s" sng-show="job.edit">
        <div class="row" style="height: 70px;">
            <div class="col-sm-offset-0 col-xs-7 inputTitles">
                <div class="col-xs-6">
                    Company Name
                    <input class="form-control input_inactive_ob" placeholder="Company Name Full" title="What was the name of the place where you worked?&lt;br&gt;Ex: Acme Corporation" style="width: 180px" ng-model="job.firmLong">
                </div>
                <div class="col-xs-6">
                    Position Title
                    <input class="form-control input_inactive_ob" placeholder="Position Title" title="What was your official job title?  Ex: Senior Business Analyst" style="width: 200px" ng-model="job.titleLong">
                </div>
            </div>

            <div class="col-xs-5 inputTitles" style="text-align: center">
                Location <br />
                <div class="col-xs-4 col-sm-offset-2">
                    <input class="form-control input_inactive_ob" placeholder="City / Town" title="Where was your job located?  Ex: Boston, MA" style="width: 100px" ng-model="job.city">
                </div>
                <div class="col-xs-4">
                    <statedropdown class="input_active_ob" passedmodel="job.state"></statedropdown>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-0 col-xs-6 inputTitles">
                <div class="col-xs-6">
                    Company (timeline)
                    <input class="form-control input_inactive_ob" placeholder="Company short" title="Short name of Company for Timeline" style="width: 100px" ng-model="job.firmShort">
                </div>
                <div class="col-xs-6">
                    Position (timeline)
                    <input class="form-control input_inactive_ob" placeholder="Position short" title="Short job title for Timeline" style="width: 100px" ng-model="job.titleShort">
                </div>
            </div>

            <div class="col-xs-3 inputTitles" style="text-align: center">
                Start Date <br />
                <div class="col-xs-5 col-sm-offset-2">
                    <monthdropdown class="input_active_ob" passedmodel="job.startMonth"></monthdropdown>
                </div>
                <div class="col-xs-4">
                    <yeardropdown class="input_active_ob" passedmodel="job.startYear"></yeardropdown>
                </div>
            </div>

            <div class="col-xs-3 inputTitles" style="text-align: center">
                End Date <br />
                <div class="col-xs-5 col-sm-offset-0">
                    <monthdropdown class="input_active_ob" passedmodel="job.endMonth"></monthdropdown>
                </div>
                <div class="col-xs-4">
                    <yeardropdown class="input_active_ob" passedmodel="job.endYear"></yeardropdown>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top:40px; margin-bottom: 20px;">
            <div class="col-sm-offset-4 col-sm-3">
                <a class="btn btn-success" style="padding-top: 0px; padding-bottom: 0px;" ng-click="addJobDetail(job)"> New Job Detail </a>
                <!--<strong>Job Details</strong> ( <a ng-click="addJobDetail(job)"> <i class="glyphicon glyphicon-plus">Add</i> </a> )-->
            </div>
        </div>

        <div class="row" ng-repeat="detail in job.details  | filter: {isActive: true} | orderBy:'order' track by $index" style="margin-bottom: 10px;">
            <!--{{ detail.description }}-->
            <div class="col-sm-2">
                <div class="col-sm-12" title="Move this job detail up.">
                    <span class="glyphicon glyphicon-chevron-up small hov-red" ng-click="switchDetailOrderUp(detail)"></span>
                    <!--<span style="color: black;"> {{ detail.order }} </span>-->
                    <span class="glyphicon glyphicon-chevron-down small hov-red" ng-click="switchDetailOrderDown(detail)"></span>
                </div>
            </div>


            <div class="col-sm-9 col-sm-pull-1 pop_details">
                <textarea class="form-control input_inactive_ob" title="Describe what you did at this job." placeholder="Job Details" style="width:100%" ng-model="detail.description"></textarea>
            </div>

            <div class="col-sm-1 col-sm-pull-1" title="discard detail  (carefull!)" ng-click="deleteJobDetail(job, detail)">
                <span class="glyphicon glyphicon-trash small hov-red"></span>
            </div>



        </div>

        <div class="row form-submit-bar">
            <div class="col-sm-offset-3 col-sm-1">
                <a style="" class="btn btn-primary" ng-click="saveJob(job)" ng-attr-slide-up="{{ '#editjob' + jobNumber }}">
                    <span> Confirm <i class="glyphicon glyphicon-thumbs-up"></i> </span>
                </a>
            </div>
            <div class="col-sm-offset-3 col-sm-2">
                <a style="" class="btn btn-danger" ng-click="cancel(job)" ng-attr-slide-up="{{ '#editjob' + jobNumber }}">
                    <span> <i class="glyphicon glyphicon-thumbs-down"></i> Cancel</span>
                </a>
            </div>
        </div>

    </div>
</div>
