#loginForm {

    position:fixed;
    top:90px;
    left:40%;
    z-index:1050;
    /*padding-bottom: 20px;*/
    /*max-width: 500px;*/
    /*min-height: 400px;*/
    /*height:auto;*/
    width: 370px;
    background-color: white;
    border:1px solid #dddddd;

}


.status-bar {
    position: absolute;
    top:0px;
    left:0;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    z-index:1051;
    width: 400px;

}


.Login-Header{
   
    /*padding: 0px;*/
    padding-top: 0px;
    /*height: 42px;*/
    background-color: #333333;
    vertical-align: top;
    color: white;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    /*border-bottom: 2px solid #AAAAAA;*/
    margin-bottom: 10px;
}

.Login-Header  a {
    color: #428BCA;
}

.Login-Header  a:hover {
    color: red;
}

.btn-9res {
    color: #DDDDDD; 
    background-color: #333333; 
    border-color: #aaaaaa; 
}

.btn-9res:hover, 
.btn-9res:focus, 
.btn-9res:active, 
.btn-9res.active, 
.open .dropdown-toggle.btn-sample { 
  color: #DDDDDD; 
  background-color: #454545; 
  border-color: #666666; 
} 


.loginForm {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  /*max-height:500px;*/
  display:block!important;
  overflow: hidden;
  /*opacity:1;*/
}


.loginForm.ng-enter,
.loginForm.ng-leave.ng-leave-active {
  /*opacity:0;*/
      max-height:00px;
}
.loginForm.ng-leave,
.loginForm.ng-enter.ng-enter-active {
  max-height:500px;
}


.saveResumePopup.ng-enter,
.saveResumePopup.ng-leave.ng-leave-active {
  /*opacity:0;*/
      max-height:00px;
}
.saveResumePopup.ng-enter,
.saveResumePopup.ng-enter.ng-enter-active {
  max-height:500px;
}
