html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.page-wrap {
  min-height: 100%;
  /*height: auto;*/
  /* Negative indent footer by its height */
  margin-bottom: -70px;
  /* Pad bottom by footer height */
    padding-bottom: 70px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/



/*to make mouse pointer when hovering over angular ong-click*/
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}


/* Animations */
.sample-show-hide {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  /*opacity:100;*/
}

.animate-show {
  -webkit-transition:all linear 1s;
  transition:all linear .3s;
  height: 80px;
  display:block!important;
  overflow: hidden;
  /*opacity:1;*/
}


.animate-show.ng-hide {
  /*opacity:0;*/
      height:0;
}


/*.add-job-enter {
	-webkit-transition: 1s linear all;
    overflow: hidden;
	transition: 1s linear all;
	max-height: 0;
}
 
.add-job-enter.animate-enter-active {
	max-height: 500px;
}*/

/*.addjob {
    height: 500px;
	opacity: 1;
}*/

.addjob.ng-enter, 
.addjob.ng-leave
{ 
	-webkit-transition: 1s linear all;
	-moz-transition: 1s linear all;
	-ms-transition: 1s linear all;
	-o-transition: 1s linear all;
	transition: 1s linear all;
	position: relative;
	display: block;
    overflow: hidden;
} 

.addjob.ng-leave.ng-leave-active{

} 
.addjob.ng-leave.ng-leave-active,
.addjob.ng-enter {
	max-height: 0px;

}
 
.addjob.ng-leave, 
.addjob.ng-enter.ng-enter-active {
	max-height: 600px;
	opacity: 1;

}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}

.space5 > div {
    margin-bottom: 10px;
}


.placeholder { 
    font-weight:bold; 
    font-size:10pt; 
    color:#D9E3F4; 
    text-align:center;  
    font-family: Arial, sans-serif;
}

.logo9res {
    color: #bbbbbb;
}

.logo9res:hover {
    color: #dddddd;
}


.small {
            font-size: 13px;
}

.hov-red:hover { 
    color: red;
}

/* used for glyph manipulation */
span.pink-color{
    color: #ff1493;
}


.red-color{
    color: #d14;
}


.red-icon{
    /*font-weight: bolder;
    text-align: center;*/
    color: #d14;
    /*font-size: 13px;*/
}


.white-icon{
    font-weight: bolder;
    text-align: center;
    color: white;
    /*font-size: 13px;*/
}

span.black-icon{
    font-weight: bolder;
    text-align: center;
    color: #000000;
    /*font-size: 13px;*/
}

span.inverse-icon{
    text-align: center;
    color: #ffffff;
    background-color: #000000;;
    font-size: 13px;
}

span.blue-icon{
    font-weight: bolder;
    text-decoration-color: blue;
    color: blue;
    font-size: 13px;
}


.inputLabel 	{   
    color:#0070C0; 
    font-size:14pt; 
    font-weight:bold; 
    vertical-align: middle; 
    text-align:left; 
    width:120px;
}


.badge-rounded {
    border-radius: 1em;
    margin-right: 2px;
}

.gold-black {
    color: black;
    background-color: gold;
    border-color: #444444;
}

.gold-black i {
    /*display: none;*/
    color: gold;
}

.gold-black:hover i {
    /*display: inline;*/
    color: black;
}



/* Nav Tab manipulation */
.nav-tabs > li > a{

    background-image: linear-gradient(to top, #BBBBBB 0%, #222 100%);
            background-color: #222;
    border: solid 1px;
    border-color: #eeeeee #cccccc #dddddd #ffffff;
/*
    background-image: linear-gradient(to bottom, #00aaff 0%, #0088cc 100%);
    background-image: url( 'images/input_gradient1.bmp' );
    background-repeat: repeat-x;
    background-position: top;
*/
    color: white;
    /*font-weight: bold;*/

}

.nav-tabs > li.active > a {
    background-image: linear-gradient(to top, white 0%, #aa3333 100%);
    color: black;
    border: solid 1px;
    border-color: #cccccc #cccccc #dddddd #cccccc;
/*
    background-image:  url( 'images/input_gradient2.bmp' );
    background-repeat: repeat-x;
    background-position: top;
*/
    /*font-size: 13px;*/
}


    /*.nav-tabs > li:not(active) > a:focus,*/
.nav-tabs > li:not(active) > a:hover{
/*
    background-image:  url( 'images/input_gradient2.bmp' );
    border: solid 1px;
    border-color: #cccccc #cccccc #dddddd #cccccc;
    background-repeat: repeat-x;
    background-position: top;
*/
    background-color: #006dcc;
    color: orange;
}


/* Nav Tabs finished */



/*Angular JS specific css*/
a{
    cursor: pointer;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron {
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

.jumbotron li {
  /*padding: 30px;
  margin-bottom: 30px;*/
  font-size: 13px;
  /*font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;*/
}


div.getStartetd {
    height: 300px;
    background-image:url('images/9resGetStarted.png');
    content:url("images/9resGetStarted.png");
}

img.filling {
    content:url("~/content/images/9resGetStarted_hover.png");
}

.getStartetd:hover {
    content:url("~/content/images/9resGetStarted_hover.png");
}

.dropdown-dark {
  color: #999999;
  background-color: #222222;
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  transition: ease-in-out;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: height;

}

.dropdown-dark > li > a {
  color: #999999;
  background-color: #222222;
  white-space: nowrap;
}

.dropdown-dark > li > a:hover,
.dropdown-dark > li > a:focus {
  color: #ffffff;
  background-color: black;
}

.dropdown-dark > .active > a,
.dropdown-dark > .active > a:hover,
.dropdown-dark > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: black;
  outline: 0;
}

.hdr_txt {
    color:#737373;	
    font-size:13pt;	
}



/* ------------- Contact Info ------------------- */


/* ------------- Careers Page ------------------- */

.JobsDisplay{  
    padding:10px; 
    color:#285EA6;	
    font-size:11pt;	
    font-weight:bold; 
    font-family: Arial, sans-serif;
}
.JobsDisplay:hover{  background:#F6EEF7; }

.inputTitles {
    /*text-align: center;*/
    color: #333333;
    font-size: 9pt;	
    font-weight: bold; 
    font-family: Arial, sans-serif;
}

.jobediting {
    border: 1px dashed grey;
    background-color: #ffffff;
}


#ppane_car{	
    border-top-width:1px;	
    border-top-style:solid;	
    border-top-color:black;	border-right-width:1px;	
    border-right-style:solid; 
	border-right-color:black;	
    /*float:top;*/ 
    margin:0px;	
    /*left:162px;*/	
    /*width:866px;*/	
    padding:0px;	
    background:white; 

}

.job-edit {
    border: 1px solid #ddddff; 
    /*margin-bottom: 35px; margin-top: 20px;  padding-top: 20px; background-color: #ffffff;*/
}